.footer{

    display: flex; 
    position: relative;
    height: 4vmin;
    justify-content: center;
    align-items: flex-end;
    padding-top: 25vmin;
    bottom: 0;
    //position: absolute;
    width: 100%;

    //background-color: red;
}

.close{
    margin-bottom: 5px;
    color: azure;
    bottom: 0;
}