.gallery{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;


    
}



.img{
    background-color: white;
    width: 99%;
    height: 500px;
    margin: 0.5% ;
}

.project1{
    background-color: grey;
}


