.lightbox {
    //width: 100%; 
    height: 100vh;
    left: 0;
    top: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 888000;
    position: absolute;
    position: fixed;
   // background-color: rgba(0, 0, 0, 0.8);
   // display:none;
}


.lightbox{
   width: 100%;
   height: 100vh;
   background-color: #111327f5;
   display: grid;
   display: none;


   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 5px;
   grid-template-areas: 
             " nombre imagen descrip"
             " nombre imagen descrip";
             
}

//looks good to me! let's check it out

// turn the lightbox on when we have some content to show
.show-lightbox{ display: block;
display: grid;}

.close{
    width: 30px;
    height: 30px;
    top: 0;
    align-self: flex-start;
    grid-area: descrip;
    justify-self: center;
    align-self: start;
    color: seashell;
    background-color: rgba(48, 44, 44, 0);
    justify-self: end;
    right: 0;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.namecar{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    grid-area: nombre;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    width: 60%;
    height: auto;
    justify-self: center;
    align-self: center;
    padding-bottom: 50px;
}

.thecompany{
    color:  #EA148F;
    background-color: rgba(0, 0, 0, 0);
    grid-area: nombre;
    font-size: 15px;
    padding-top: 30%;
    font-family: 'Poppins', sans-serif;
    width: 60%;
    height: auto;
    justify-self: center;
    align-self: center;
    padding-bottom: 50px;
    //padding-top: 0%;
}

.imagen{
    max-width: 100%;
    height: 80%;
    padding: 0;
    background-color: rgba(0, 255, 255, 0);
    //background-color: red;
    grid-area: imagen;
    justify-self: center;
    align-self: center;
    object-fit: contain;
    overflow: hidden;
    //border: white solid 1px;
}

.descricar{
    width: 60%;
    height: 25%;
    color: white;
    grid-area: descrip;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    height: auto;
    justify-self: center;
    align-self: center;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0);
    line-height: 35px;
}

@media screen and (max-width: 1080px) {
    .mheading{
        //color: blue;
        font-size: 55px;
        margin-left: 0%;
        padding-left: 10%;
}
}

@media screen and (max-width: 1023px) {
    .thecompany{

        padding-top: 60%;
    }
}

@media screen and (max-width: 768px) {
    .lightbox{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5px;
        grid-template-areas: 
                  " nombre"
                  " imagen"
                  "descrip";
                  
     }
     //
     

     .close{
        grid-area: nombre;//

    }

     .thecompany{

        padding-top: 15%;
    }

     .namecar{

        font-size: 30px;//

    }
    
    .imagen{

        height: 100%;//
    }
    
    .descricar{

        font-size: 10px;//
        line-height: 25px;//
    }
}



.close{
    cursor: pointer;
}

.close:hover{
    color: #47A0E6;
}
