.lightbox {
    //width: 100%; 
    height: 100vh;
    left: 0;
    top: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 5000;
    position: absolute;
    position: fixed;
   // background-color: rgba(0, 0, 0, 0.8);
   // display:none;
}


.lightbox{
   width: 100%;
   height: 100vh;
   background-color: rgba(48, 44, 44, 0.95);
   display: grid;
   display: none;


   grid-template-columns: 1.5fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 5px;
   grid-template-areas: 
             " imagen nombre"
             " imagen descri";
             
}

//looks good to me! let's check it out

// turn the lightbox on when we have some content to show
.show-lightbox{ display: block;
display: grid;}

.close{
    width: 30px;
    height: 30px;
    top: 0;
    align-self: flex-start;
    grid-area: nombre;
    color: seashell;
    background-color: rgba(48, 44, 44, 0);
    justify-self: end;
    right: 0;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.namecar{
    color: lightyellow;
    background-color: rgba(0, 0, 0, 0);
    grid-area: nombre;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    height: auto;
    justify-self: center;
    align-self: end;
    padding-bottom: 50px;
}

.thecompay{
    color: lightyellow;
    background-color: rgba(0, 0, 0, 0);
    grid-area: nombre;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    height: auto;
    justify-self: center;
    align-self: end;
    padding-bottom: 50px;
}

.imagen{
    max-width: 100%;
    height: 80%;
    padding: 0;
    background-color: rgba(0, 255, 255, 0);
    //background-color: red;
    grid-area: imagen;
    object-fit: contain;
    overflow: hidden;
}

.descricar{
    width: 80%;
    height: 25%;
    color: lightyellow;
    grid-area: descri;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    height: auto;
    justify-self: center;
    align-self: start;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0);
}


.close{
    cursor: pointer;
}
